{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Vehicles{% endblock %}</h1>
{% if g.user.role == 'STAFF' %}
<a class="action" href="{{ url_for('vehicles.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
{% for v in vehicles %}
<article class="vehicle">
    <header>
        <div>
            <h1>{{ v.manufacturer }} | {{ v.license_plate_number }}</h1>
            {% if v.available == True %}
            <a class="action" href="{{ url_for('vehicles.take_vehicle', vid=v.id) }}">Take</a>
            {% else %}
            {% if v.user_id == g.user.id %}
            <a class="action" href="{{ url_for('vehicles.return_vehicle', vid=v.id) }}">Return</a>
            {% else %}
            <p>Taken by {{ users[v.user_id].username }}.</p>
            {% endif %}
            {% endif %}
            <a class="action" href="{{ url_for('vehicles.task_history', vid=v.id) }}">Task History</a>
            {% if g.user.role == 'STAFF' %}
            <a class="action" href="{{ url_for('vehicles.delete', vid=v.id) }}">DELETE</a>
            {% endif %}
        </div>
    </header>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}