{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Vehicles{% endblock %}</h1>
{% if g.user.role == 'STAFF' %}
<a class="action" href="{{ url_for('vehicles.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
{% for v in vehicles %}
<article class="vehicle">
    <header>
        <div>
            <h1>{{ v['manufacturer'] }} | {{ v['license_plate_number'] }}</h1>
            {% if v.available == True %}
            <a class="action" href="{{ url_for('vehicles.take', id=v['id']) }}">Take</a>
            <a class="action" href="{{ url_for('vehicles.history', id=v['id']) }}">Vehicle History</a>
            {% else %}
            {% if v.user_id is not None and v.user_id == g.user.id %}
            <a class="action" href="{{ url_for('vehicles.return', id=v['id']) }}">Return</a>
            {% else %}
            <p>Taken by "username".</p>
            <a class="action" href="{{ url_for('vehicles.history', id=v['id']) }}">Vehicle History</a>
            {% endif %}
            {% endif %}
        </div>
    </header>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}